.banner {
    background: url("https://r4.wallpaperflare.com/wallpaper/795/40/32/wuthering-waves-jinhsi-wuthering-waves-jue-wuthering-waves-screen-shot-dragon-hd-wallpaper-93af506c0069d937a88143bdce2f9fa1.jpg") no-repeat center center ;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
}